<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布局的复用</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" type="text/css"/>
</head>
<body>
<!--顶部导航  通用的顶部导航-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">后台管理</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <li><a href="/admin/user">用户管理</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类管理 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="/admin/category">分类首页</a></li>
                <li><a href="/admin/category_add">添加分类</a></li>
                <!--<li><a href="#">Something else here</a></li>-->
                </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">内容管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/content">内容首页</a></li>
                        <li><a href="/admin/content_add">添加内容</a></li>
                        <!--<li><a href="#">Something else here</a></li>-->
                    </ul>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-left">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userInfo.username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="logout"><a> 退出 </a></li>
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--巨幕  巨幕不同，需要替换-->
<!--使用占位符 定义block区块：{%block ‘block区块的name’%} ，以{%endblock%}结束-->
{%block main%}{%endblock%}
</body>
<script type="text/javascript" src="/public/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/layout.js"></script>

</html>